@model UserDto

@{
    ViewBag.ObjectName = "Updating Employee";
    Layout = "~/Views/Shared/_LayoutAddObject.cshtml";
}
@section backButton {
    <a asp-controller="Employee" asp-action="EmployeeInfo" asp-route-bankId="@Model.BankId" class="back-to-home">Back to employee info page</a>
}

<section class="inputs">
    <form asp-controller="Employee" asp-action="UpdateEmployee" asp-route-bankId="@ViewBag.BankId" method="post">
        <input type="text" name="JobTitle" placeholder="Please enter employee job title" required></input>
        <button type="submit">Update Employee</button>
    </form>
</section>
<section>
    <h1>@ViewBag.Message</h1>
    @if (ViewBag.Errors != null)
    {
        <div class="errors">
            @foreach (var item in ViewBag.Errors)
            {
                <h4>
                    @item
                </h4>
            }
        </div>
    }
</section>
