@{
    ViewBag.Title = "Error";
    ViewBag.Header = "Something went wrong";
}

<div class="empty-wrapper">
    <div class="empty-list">
        <h2>⚠️ An error occurred</h2>

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage as string))
        {
            <p class="input-error-message">@ViewBag.ErrorMessage</p>
        }
        else
        {
            <p class="input-error-message">Unfortunately, an unknown error occurred. Please try again later.</p>
        }

        <div class="link-button-wrapper">
            <a href="/" class="link-button">Return to Home</a>
        </div>
    </div>
</div>
