@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <header class="main-header">
        <h1>Welcome to the Bank System</h1>
    </header>

    <main class="main-home short-top-space">
        <div class="button-center">
            <a asp-controller="Bank" asp-action="BanksList" class="main-button">📋 View Bank List</a>
        </div>
    </main>
</body>
</html>
