@model UserDto
@{
    ViewBag.ObjectName = "User";
    Layout = "~/Views/Shared/_LayoutAddObject.cshtml";
}
@section backButton {
    <a asp-controller="User" asp-action="UsersInfo" asp-route-bankId="@ViewBag.BankId" class="back-to-home">Back to users info page</a>
}

<section class="inputs">
    <form asp-controller="User" asp-action="AddUser" asp-route-bankId="@ViewBag.BankId" method="post">
        <input type="hidden" name="BankId" value="@ViewBag.BankId" />
        <input asp-for="FullName" placeholder="Please enter users full name"></input>
        <span asp-validation-for="FullName" class="input-error-message"></span>
        <input asp-for="FinancalNumber" type="number" placeholder="Please enter Financal number"></input>
        <span asp-validation-for="FinancalNumber" class="input-error-message"></span>
        <input asp-for="Age" type="number" placeholder="Please enter users age"></input>
        <span asp-validation-for="Age" class="input-error-message"></span>
        <select asp-for="Gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <span asp-validation-for="Gender" class="input-error-message"></span>
        <input asp-for="Email" type="email" placeholder="Please enter users email"></input>
        <span asp-validation-for="Email" class="input-error-message"></span>
        <input asp-for="Nationality" placeholder="Please enter users Nationality"></input>
        <span asp-validation-for="Nationality" class="input-error-message"></span>
        <button type="submit">Create User</button>
    </form>
</section>
<section>
    <h1>@ViewBag.Message</h1>
    @if (ViewBag.Errors != null)
    {
        <div class="errors">
            @foreach (var item in ViewBag.Errors)
            {
                <h4>
                    @item
                </h4>
            }
        </div>
    }
</section>

