@model BankDto

@{
    ViewBag.ObjectName = "Adding Bank";
    Layout = "~/Views/Shared/_LayoutAddObject.cshtml";
}
@section backButton {
    <a asp-controller="Bank" asp-action="BanksList" class="back-to-home">Back to banks list page</a>
}

<section class="inputs">
    <form asp-controller="Bank" asp-action="AddBank" method="post">
        <input asp-for="BankName" placeholder="Please enter bank name"></input>
        <span asp-validation-for="BankName" class="input-error-message"></span>
        <input asp-for="Rating" type="number" step="0.1" placeholder="Please enter bank rating"></input>
        <span asp-validation-for="Rating" class="input-error-message"></span>
        <select asp-for="HasLicense">
            <option value="">Bank has license</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="HasLicense" class="input-error-message"></span>
        <input asp-for="BankFounder" placeholder="Please enter founder name"></input>
        <span asp-validation-for="BankFounder" class="input-error-message"></span>
        <input asp-for="BankDirector" placeholder="Please enter director name"></input>
        <span asp-validation-for="BankDirector" class="input-error-message"></span>
        <input asp-for="Capitalization" type="number" placeholder="Please enter bank capitalization"></input>
        <span asp-validation-for="Capitalization" class="input-error-message"></span>
        <input asp-for="EmployeesCount" type="number" placeholder="Please enter employee count"></input>
        <span asp-validation-for="EmployeesCount" class="input-error-message"></span>
        <input asp-for="ClientsCount" type="number" placeholder="Please enter clients count"></input>
        <span asp-validation-for="ClientsCount" class="input-error-message"></span>
        <input asp-for="BlockedClientsCount" type="number" placeholder="Please enter blocked clients count"></input>
        <span asp-validation-for="BlockedClientsCount" class="input-error-message"></span>

        <button type="submit">Create bank</button>

    </form>
</section>
<section>
    <h1>@ViewBag.Message</h1>
    @if (ViewBag.Errors != null)
    {
        <div class="errors">
            @foreach (var item in ViewBag.Errors)
            {
                <h4>
                    @item
                </h4>
            }
        </div>
    }
</section>
