@model RegisterDto

@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Log in";
    ViewData["Header"] = "Log in";
}

<section class="register-wrapper">
    <div class="inputs wide-inputs">
        <form asp-controller="Account" asp-action="Login", asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
            <input asp-for="Email" placeholder="Enter your email" />
            <span asp-validation-for="Email" class="input-error-message"></span>

            <input asp-for="Password" type="password" placeholder="Enter your password" />
            <span asp-validation-for="Password" class="input-error-message"></span>

            <button type="submit">Log in</button>
        </form>
    </div>
    
    @if (ViewBag.Errors != null)
    {
        <div class="errors">
            @foreach (var item in ViewBag.Errors)
            {
                <h4>@item</h4>
            }
        </div>
    }

    <h1 class="text-info" style="text-align:center;">@ViewBag.Message</h1>
</section>
