@model RegisterDto

@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Register";
    ViewData["Header"] = "Create account";
}

<section class="register-wrapper">
    <div class="inputs wide-inputs">
        <form asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
            <input asp-for="FullName" placeholder="Please enter your name" />
            <span asp-validation-for="FullName" class="input-error-message"></span>

            <input asp-for="Email" placeholder="Please enter your email" />
            <span asp-validation-for="Email" class="input-error-message"></span>

            <input asp-for="PhoneNumber" placeholder="Please enter your phone number" />
            <span asp-validation-for="PhoneNumber" class="input-error-message"></span>

            <input asp-for="Password" type="password" placeholder="Please enter your password" />
            <span asp-validation-for="Password" class="input-error-message"></span>

            <input asp-for="ConfirmPassword" type="password" placeholder="Please confirm your password" />
            <span asp-validation-for="ConfirmPassword" class="input-error-message"></span>

            <button type="submit">Register</button>
        </form>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <span>Already have an account?</span>
        <a asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@ViewBag.ReturnUrl" class="log-links">Log in</a>
    </div>

    @if (ViewBag.Errors != null)
    {
        <div class="errors">
            @foreach (var item in ViewBag.Errors)
            {
                <h4>@item</h4>
            }
        </div>
    }

    <h1 class="text-info" style="text-align:center;">@ViewBag.Message</h1>
</section>